beautifulsoup4==4.9.3
bokeh==2.2.3
geopy==2.1.0
HASS-data-detective==2.4
influxdb==5.3.1
ipywidgets==7.6.3
jupyterlab_github==2.0.0
jupyterlab_sql==0.3.3
jupyterlab==2.2.10
matplotlib==3.3.3
mysqlclient==2.0.3
nbconvert==6.0.7
numpy==1.20.0
pandas-datareader==0.9.0
pandas==1.2.1
psycopg2==2.8.6
python-dateutil==2.8.1
scrapy==2.4.1
seaborn==0.11.1
SQLAlchemy==1.3.23
