beautifulsoup4==4.12.2
bokeh==3.2.2
geopy==2.4.0
HASS-data-detective==3.0
influxdb==5.3.1
ipywidgets==8.1.0
jupyter_bokeh==3.0.7
jupyterlab_widgets==3.0.8
jupyterlab==4.0.5
matplotlib==3.7.3
mysqlclient==2.2.0
nbconvert==7.8.0
numpy==1.25.2
pandas-datareader==0.10.0
pandas==2.1.0
psycopg2==2.9.7
python-dateutil==2.8.2
scrapy==2.10.1
seaborn==0.12.2
SQLAlchemy==2.0.20