beautifulsoup4==4.10.0
bokeh==2.4.3
geopy==2.2.0
HASS-data-detective==2.4
influxdb==5.3.1
ipywidgets==7.6.5
jupyter_bokeh==3.0.4
jupyterlab_widgets==3.0.3
jupyterlab==3.2.3
matplotlib==3.6.0
mysqlclient==2.0.3
nbconvert==6.5.1
numpy==1.22.0
pandas-datareader==0.10.0
pandas==1.4.4
psycopg2==2.9.1
python-dateutil==2.8.2
scrapy==2.6.2
seaborn==0.11.2
SQLAlchemy==1.4.41